<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP2013<br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:10px;"></p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">感謝您的贊助 <sup>VIP Code</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>由於您未使用個人贊助的邀請碼，在此補發一組，感謝。</p>
                    <p>感謝您對 COSCUP 的贊助，以下提供一組 VIP Code，請在有效期限內使用，即可完成 <b>COSCUP2013</b> 報名</p>
                    <p>Thank you for your sponsorship of COSCUP, the following provides a set of VIP Code, please use within the expiration date to complete the registration.</p>
                    <ul>
                        <li><b>{{code}}</b></li>
                    </ul>
                    <p>有效期限與報名頁面</p>
                    <ul>
                        <li style="margin-bottom: 10px;">有效期限 (Valid period)：<br>
                            <b>2013/06/12 00:00 - 2013/07/13 00:00 GMT+8</b></li>
                        <li style="margin-bottom: 10px;">票種 (Ticket style)：<b>Personal Sponsor</b></li>
                        <li>報名頁面 (Check in)：<a href="http://registrano.com/events/coscup2013-regist" target="_blank">報名頁面</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p style="margin-left:10px;">如有任何疑問可以回信到 attendee@coscup.org . If you have any questions you can reply to attendee@coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">COSCUP2013 行政組</td>
        </tr>
    </table>
</body>
</html>
