<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP2013 歡迎你 - {{nickname}}<br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:10px;">歡迎加入 <b>COSCUP2013</b> 工作團隊！按照慣例，希望您先花點時間閱讀新人手冊，並且記得完成簡單的自我介紹。</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">新人手冊<sup>使用說明</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>關於籌備團隊一些疑難雜症都可以先翻翻這本手冊。</p>
                    <p><ul><li><a href="https://docs.google.com/document/d/1RTxZfaNOPWPRiUdn9KfqU672Rtsi0sk_1uvYp0t5wCo/preview?pli=1" target="_blank">COSCUP2013 籌備團隊新人手冊</a></li></ul></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">新手任務<sup>提醒：您有新任務！</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>在遙遠的 COSCUP 星球上留下古老的秘笈，而這本秘笈只傳授給新加入的團隊成員，趕快開啟它吧，並完成第一項初心者任務，祝你順利…</p>
                    <p><ul><li><a href="https://docs.google.com/document/d/18pfO8MCErAzPl1QwfWtkseAiIGvIfoy63KHanYK1Lyc/preview?pli=1" target="_blank">COSCUP2013 工作事項追蹤系統簡易使用手冊</a></li></ul></p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p style="margin-left:10px;">COSCUP 是一個完全虛擬組織，如果沒有完成自我介紹，恐怕沒有人發現你的足跡。當然，也會讓你降低探索 COSCUP 的樂趣。</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">COSCUP2013 行政組</td>
        </tr>
    </table>
</body>
</html>
