<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="640" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP 2013 工作人員行前通知<br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p>親愛的工作夥伴 <b>{{nickname}}</b>：</p>
                <p style="margin-left:10px;">再次感謝您參與 COSCUP 2013 的籌辦工作，這封信會整理一些跨組、影響範圍大的注意事項，請詳細閱讀。請注意：您所參加的組別，還可能會有更詳細的規定或其他注意事項，請洽您的組長。</p>
                <ul>
                    <li style="margin-bottom:10px;">大會時間：2013/08/03 ~ 2013/08/04</li>
                    <li style="margin-bottom:10px;">地點：外貿協會台北國際會議中心（TICC） <a href="http://go.coscup.org/coscup2013map">110 台北市信義區信義路五段1號 (map)</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">住宿與交通</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;">本次大會工作人員住宿地點為晶璽商旅 (台北市信義區信義路四段 468 號 3F)，就在會場斜對面。</li>
                        <ol>
                            <li style="margin-bottom:10px;">Check-In: 8/2 15:00 後，請攜帶名牌或是相關證明文件與櫃台確認身分與房號入住</li>
                            <li style="margin-bottom:10px;">Check-Out: 8/4 12:00 前（如有必要，早上離開 checkout 後可詢問飯店櫃台能否寄放，或帶至工作人員休息室）</li>
                            <li style="margin-bottom:10px;">請參考<a href="http://go.coscup.org/2013-accommodation">住宿名單及房號分配</a></li>
                            <li style="margin-bottom:10px;">未滿 20 歲的工作人員，請在 23:30 前回到房間等待點名。</li>
                        </ol>
                        <li style="margin-bottom:10px;">大會交通補助請參考<a href="http://go.coscup.org/2013-transportation">補助名單與額度</a></li>
                            <ol>
                                <li style="margin-bottom:10px;">怎麼領？簡單說就是請備妥乘車憑證，於大會當天到諮詢台找行政組長 Toomore 領取補助，欲請領補助者請<a href="http://go.coscup.org/2013-transp-detail">務必詳閱補助辦法</a></li>
                            </ol>
                        <li style="margin-bottom:10px;">抵達大台北後歡迎搭乘大眾運輸工具與會，請參考<a href="http://coscup.org/2013/zh-tw/venue/">會場交通資訊</a>。若您開車前來，請參考<a href="http://go.coscup.org/coscup13-parking-info">信義區停車資訊導引系統</a></li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">場佈</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;">部分組別會參與 8/2 18:00 後的場佈，請洽您的組長確認是否需要出席</li>
                        <li style="margin-bottom:10px;">場佈地點在 106 室，<b>我們並沒有租用會議室場佈</b>。本次場佈本身主要是針對報到處所需物品、會議室內網路線路及會議室外攤位施行。即使您的組別不需要出席，也<b>歡迎住宿伙伴前來幫忙</b>，請參考<a href="http://go.coscup.org/2013-venue-deco">場佈文件</a></li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">報到、服裝、早餐、午餐</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;"><b>工作人員集合時間由各組自定</b>，最早 7am、最晚請不要晚於當天議程開始。工作人員識別證將於 8/3 報到時領取。</li>
                        <li style="margin-bottom:10px;">大會期間請<b>盡可能著工作人員 T-shirt 以利其他夥伴辨識</b>，但 COSCUP 傳統就是不強制，只要您在大合照時穿著工作人員 T-shirt 一起來壯聲勢就好。（如您參與的組別有特別規定，依組內規定為準。）</li>
                        <ol>
                            <li style="margin-bottom:10px;">雖然只有發一件 T-shirt 要穿兩天，但如果您有需要，行銷公關組有多準備 50 件 T-shirt，歡迎自行於工作人員休息室<b>購買（限工作人員購買）</b>。</li>
                        </ol>
                        <li style="margin-bottom:10px;">如有重大情事無法參與，請向組長請假。翹班是大忌，會被很多研討會一起 ban 掉唷。</li>
                        <li style="margin-bottom:10px;">早餐：住宿人員請於飯店解決，<b>非住宿人員早餐於兩天的 7am 左右在工作人員休息室（105）發放</b>。請盡可能都好好吃早餐，<b style="text-decoration: underline;">因為這是一件 Rock 的事</b>。</li>
                        <li style="margin-bottom:10px;">午餐：工作人員都有便當，午餐午時間請至工作人員休息室（105）領取、食用。（不得帶出 105）</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">慶功宴</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;">還沒講完會場規則就講慶功宴，會不會過太爽？但反正 8/4 會後慶功宴（8/4 19:00 ~ 21:30）地點在 ATT婚宴廣場 - 彩蝶宴 (台北市信義區忠孝東路五段297號)</li>
                        <li style="margin-bottom:10px;">建議各位搭乘 284 公車前往，請<a href="http://go.coscup.org/2013-after-party">參閱公車路徑</a>。有興趣走路健身的，可以另外約健身團 XD （全程約 2.1 公里，步行時間大約 30 分鐘）。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">大會期間的工作人員會議</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;font-weight:bold;">大會第一天 8/3 的 12:45 將於工作人員休息室開快速同步會</li>
                        <ol>
                            <li style="margin-bottom:10px;">組長請務必參加，無法參加者請找代理人</li>
                            <li style="margin-bottom:10px;">當下沒事的組員，歡迎參加。</li>
                            <li style="margin-bottom:10px;">請提出「會影響到 8/3 - 8/4 大會期間的問題」。非直接影響的問題、或大會無法直接處理（例如「有會眾抱怨廁所太小」那類）的問題，請留待會後寫上檢討文件。</li>
                        </ol>
                        <li style="margin-bottom:10px;font-weight:bold;">大會第一天 8/3 晚間 23:30 左右請盡可能收信，或請室友告訴你 coscup-staff 群組有沒有新狀況</li>
                        <ol>
                            <li style="margin-bottom:10px;">我們當天晚上如非必要不開同步、實體檢討會，歡迎大家盡可能參與 BoF</li>
                            <li style="margin-bottom:10px;">如有「會影響到 8/4 會議」的事項，請於 23:00 前直接寄信 / 傳訊 / 任何方式聯絡告知總召：<a href="mailto:bobchao@gmail.com">bobchao@gmail.com</a>&nbsp;</li>
                            <li style="margin-bottom:10px;">組長在參與 BoF 時請盡可能保持手機通訊暢通。（去看電影的... 至少開一下 Facebook 訊息。不過總召也想去看電影 T_T）</li>
                        </ol>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">閉幕式的工作人員合照</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;">按照慣例，閉幕式我們將會有大合照，沒有特別任務的工作人員請盡可能在閉幕式前於 101 室附近 Stand by；有任務在身的工作人員，請洽組長確認怎麼調動。</li>
                        <li style="margin-bottom:10px;">與此相關的更多訊息將稍後補上。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">會場規則，請看兩遍！</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;font-weight:bold;text-decoration:underline;">會場全面禁止外食，請不要很白目地從外面帶東西進來吃。</li>
                        <li style="margin-bottom:10px;"><b>會議廳內禁止飲食</b>，並請將所有設備設為靜音或振動，<b>對講機請佩戴耳機</b>。兩個例外：</li>
                        <ol>
                            <li style="margin-bottom:10px;font-weight:bold;">工作人員休息室（105）內關起門來不禁外食，但是請不要<u>更白目地</u>把外食帶出休息室吃。</li>
                            <li style="margin-bottom:10px;font-weight:bold;">講者休息室內可以食用 TICC 由天成出品的茶點。</li>
                    </ol>
                        <li style="margin-bottom:10px;">包括工作人員在內，進出會議室一律必須佩戴識別證「與」今年大會的識別證吊繩，缺一不可。（所以你兩天都要帶識別證出席。）</li>
                        <li style="margin-bottom:10px;">非工作人員一律禁止進出工作人員休息室（105），包括您不是工作人員的朋友和家人。</li>
                        <li style="margin-bottom:10px;"><b>大會禁用個人熱點</b>，請以接線方式使用 3G 網路。</li>
                        <li style="margin-bottom:10px;font-weight:bold;">若會議期間有任何問題，請找您的組長，或在諮詢台駐點的行政組長 Toomore 協助處理。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">出門前的準備</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;color:#fe3d74">你前面是不是跳著看？拜託這份要詳閱，請回頭再仔細讀一遍 ;)</li>
                        <li style="margin-bottom:10px;font-weight:bold;">急救資訊：請參考 <a href="http://go.coscup.org/2013-eminfo">http://go.coscup.org/2013-eminfo</a> （建議大家都看一下，至少看前面的 summary）</li>
                        <li style="margin-bottom:10px;">出門前<b>請確保筆電及其他設備中各項軟體都已升級</b>，請勿利用會場網路大量下載檔案</li>
                        <li style="margin-bottom:10px;"><b>充電：先把隨身設備該充電的都充一充</b>，避免跟會眾搶充電座，工作人員可在工人休息室充電。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">請攜帶</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;font-weight:bold;">識別證：如果您場佈或住宿時先領了識別證，請一定要攜帶出席，不然住宿的會叫你回房間去拿 \_/</li>
                        <li style="margin-bottom:10px;font-weight:bold;">環保杯：現場紙杯有限，工作人員又要四處移動、丟失原有紙杯的狀況尤其嚴重，請務必自備隨身飲水容器</li>
                        <li style="margin-bottom:10px;">別忘了帶名片來結識新朋友。（如果您是學生，可考慮自行印製一些名片，方便交換聯絡方式。）</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP 現場延伸活動（工作人員都可以參加）</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;"><b>我們鼓勵各社群於大會期間自發組織 BoF（同好聚會）</b>，歡迎撥空參加或提議您喜愛的主題，請上 BoF 網頁（<a href="http://go.coscup.org/2013bof">http://go.coscup.org/2013bof</a>）</li>
                        <li style="margin-bottom:10px;">大會首日（8/3）各攤位設有<b>尋寶闖關活動</b>，前兩百名達成任務者可獲得 COSCUP 2013 特別紀念品一份，詳情請見<a href="http://blog.coscup.org/2013/07/blog-post_5732.html?utm_source=newsletter&utm_medium=email&utm_campaign=reminder"> http://blog.coscup.org/2013/07/blog-post_5732.html</a></li>
                        <li style="margin-bottom:10px;"><b>大會第二天（8/4）下午將有抽獎活動</b>，歡迎現場的朋友參加，詳情請見<a href="http://blog.coscup.org/2013/07/blog-post_985.html?utm_source=newsletter&utm_medium=email&utm_campaign=reminder"> http://blog.coscup.org/2013/07/blog-post_985.html</a></li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP 網路活動</div>
                <div style="padding:10px;">
                    <ol>
                        <li style="margin-bottom:10px;">如有想即時分享訊息與照片，歡迎在 Google+ Events （<a href="http://go.coscup.org/2013gplusevent">http://go.coscup.org/2013gplusevent</a>） 與大家互動。</li>
                        <li style="margin-bottom:10px;">大會的聊天室位於 irc://irc.freenode.net/coscup， 如果您不習慣文字介面，您也可以到<a href="http://go.coscup.org/freenodewebchat"> http://webchat.freenode.net/</a> 和大家聊天。</li>
                        <li style="margin-bottom:10px;">本次大會通用標籤為「#coscup」。任何關於大會的部落格、照片、Facebook、Google+、twitter，請將 tag 標示為 #coscup2013，感謝幫忙。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p style="margin-left:10px;">感謝您的支持，讓我們邁向偉大的航道吧！</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:right;">COSCUP 2013 工作團隊</td>
        </tr>
    </table>
</body>
</html>
