<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP2013<br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:10px;"></p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP 講者晚宴行前通知<sup>來吃吃喝喝！</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>感謝您參與 COSCUP 講者晚宴，以下是晚宴相關訊息：</p>
                    <ul>
                        <li style="margin-bottom:5px;">時間：2013/8/2 19:30（19:00 簽到進場）</li>
                        <li style="margin-bottom:5px;">地點：<a href="http://www.hwayoung.com/ch/traffic/taipei.html">華漾大飯店 - 中崙</a>（台北市中山區市民大道三段209號1樓）</li>
                        <li style="margin-bottom:5px;">停車資訊：機車、汽車用餐免費 (請記得與工作人員領取停車卷)</li>
                        <li style="margin-bottom:5px;">講者可免費攜伴一名，超過一名需負擔費用 NT$ 1,000</li>
                        <li style="margin-bottom:5px;">颱風資訊：由於有一颱風會影響台灣，大會會在 8/1（四）宣佈活動訊息。晚宴是否舉辦也會一併通知。或可以關注 COSCUP [<a href="http://blog.coscup.org/">blog</a>]</li>
                        <li style="margin-bottom:5px;">如有任何疑問，可以詢問以下工作人員：</li>
                            <ul>
                                <li style="margin-bottom:5px;">Sammy 0973-029197</li>
                                <li style="margin-bottom:5px;">小菲 0982-870892</li>
                            </ul>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p style="margin-left:10px;">如有任何疑問可以回信到 secretary@coscup.org .</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">COSCUP2013 行政組</td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:10px;"></p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP Speaker’s Party Notice<sup>Have Fun!</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>Thank you for joining the Speaker’s Party, here are some information to remind you:</p>
                    <ul>
                        <li style="margin-bottom:5px;">Date：2013/8/2 19:30(GMT+8) and 19:00 start entering.</li>
                        <li style="margin-bottom:5px;">Location：HWA-YOUNG Miramar [<a href="http://www.hwayoung.com/en/traffic/taipei.html">website</a>] 1F., No.209, Sec. 3, Civic Blvd., Zhongshan Dist., Taipei City</li>
                        <li style="margin-bottom:5px;">Parking：free for car or bike.</li>
                        <li style="margin-bottom:5px;">You and one attendee are free, more than one attendee plus NT$ 1,000.</li>
                        <li style="margin-bottom:5px;">Typhoon News：A typhoon will come to Taiwan in the next few days. We will make a decision the Party will be action or not in 8/1, please be patient or follow COSCUP [<a href="http://blog.coscup.org/">blog</a>]</li>
                        <li style="margin-bottom:5px;">If you have any questions, contact us：</li>
                            <ul>
                                <li style="margin-bottom:5px;">Sammy 0973-029197</li>
                                <li style="margin-bottom:5px;">Sophia 0982-870892</li>
                            </ul>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p style="margin-left:10px;">If you have any questions you can reply to secretary@coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">COSCUP2013 Secretary</td>
        </tr>
    </table>
</body>
</html>
