<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="600" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP 2013 會後問卷<br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p>親愛的與會夥伴 <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:10px;">很感謝您參與 COSCUP2013，為了幫助我們在日後做得更好，請抽空填寫一下這份問卷</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP2013 會後問卷</div>
                <div style="padding:10px;">
                    <ul>
                        <li style="margin-bottom:10px;line-height:22px;"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dGp6OW5GZWM2aDNiRjBZRHZ2ZV9yQkE6MA">填寫 COSCUP2013 問卷</a></li>
                    </ul>
                </div>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;margin-bottom:20px;background-color:#eee;border-radius:5px;color:#343;font-weight:bold;text-align:justify;line-height:21px;letter-spacing:1px;">本次大會由 Amazon Web Services (AWS)、RS Components Ltd 英商歐諾時股份有限公司、KKBOX、PIXNET、Yahoo!、QNAP 威聯通科技、Vpon、Mozilla、雪爾萊克、MAKE 雜誌、晶璽商旅
                世貿館、祐生研究基金會、Faria Systems、CLBC 慶隆商務俱樂部、AcoMo 杏昕科技、Softnext 中華數位科技、非常婚禮 veryWed.com、巴哈姆特、精誠資訊、仕橙 3G、數位無限軟體、慧邦科技股份有限公司(神來也)、瞻營全電子、遊戲基地、Hiiir 時間軸科技、Nulab Inc.、悠夏爾科技、cacaFly 聖洋科技、廣達研究院、數位時代、OSSF 自由軟體鑄造場、中央大學資訊工程學系、中國文化大學、桑格設計書店、Registrano、海琴影像、富銘科技。 等單位熱情贊助！</div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p style="margin-left:10px;">感謝您的支持，並期待與您相會</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:right;">COSCUP 2013 籌備委員會敬上</td>
        </tr>
    </table>

    <table align="center" width="600" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP 2013 Attendee's Survey 
                    <br>
                <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p>Dear friend <b>{{nickname}}</b></p>
                <p style="margin-left:10px;line-height:22px;">Thank you for participating COSCUP 2013. We would like to know your feedback about the conference. Please take some time and fill out the following survey. Every opinion will be helpful and appreciated. Let's make our next COSCUP even more rock !</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">COSCUP2013 Survey</div>
                <div style="padding:10px;">
                    <ul>
                        <li style="margin-bottom:10px;"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZnNlE1dFMzMUFndFVOczRkZXVBSHc6MA">COSCUP2013 Survey</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;margin-bottom:20px;background-color:#eee;border-radius:5px;color:#343;font-weight:bold;text-align:justify;line-height:21px;letter-spacing:1px;">The COSCUP 2013 is sponsored by Amazon Web Services (AWS), RS Components Ltd., KKBOX, PIXNET, Yahoo!, QNAP, Vpon, Mozilla, SHARELIKE, TAI TIEN ELECTRIC CO. LTD, AT Boutique Hotel, Archilife Research Foundation, Faria Systems, CLBC, AcoMo, Softnext, veryWed.com, BAHAMUT, etu, Moko365, Infinities software, Gamesofa, DMP Electronics Inc., Gamebase, Hiiir, Nulab Inc., UniSharp, cacaFly Int'l Media, Quanta Research Institute, Business NEXT, OSSF, Department of Computer Science and information Engineering at National Central University, Chinese Culture University, Sungoodbooks, Registrano, sK Photography, Cinchy Corporation.
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p style="margin-left:10px;">Thank you very much for your support! We are looking forward to seeing you there!</p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:right;">The COSCUP 2013 Organizing Team</td>
        </tr>
    </table>
</body>
</html>
