<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>影像紀錄區電子報 #20121210</title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://pi.isuphoto.org/"><img src="http://pi.isuphoto.org/static/ico/isuphoto_startup_gs.png" height="100px" align="right" alt="圖片 影像紀錄區 漂浮 Logo"></a>
                <p style="font-size:16px;">影像紀錄區電子報 #20121210<br>
                <a href="http://pi.isuphoto.org/" style="color:green;text-decoration:none;">pi.isuphoto.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:20px;">影像紀錄區近期新增一些新功能，在此為您簡短介紹。</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">與 Facebook、Twitter 同步<sup>更新</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>影像紀錄區在網站建立時有提供與 Facebook、Twitter 同步的功能，在發表作品時也會同時發佈到前述兩個社群網站。分享到 Twitter 的部份使用 <a href="http://blog.toomore.net/2012/09/twitter-cards.html">Twitter Cards</a> 呈現。而 Facebook 的部份則是以分享連結方式呈現，在塗鴉牆上出現灰色小區塊的引文資訊。</p>
                    <p>由於作品在塗鴉牆呈現的方式太糟糕，因此這部份重新設計，在影像紀錄區上傳作品後，會將作品傳給 Facebook 並以照片的方式呈現在塗鴉牆，而也會自動新增一本 "<b>影像紀錄區 Photos</b>" 相簿在 Facebook 存放來自影像紀錄區的作品。</p>
                    <p>相關操作與設定可以參考以下範例：</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">開啟 與 Facebook、Twitter 連結<sup>Tips</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>在使用兩個社群網站時必須先取得您的同意使用權限，<a href="http://pi.isuphoto.org/fbconfig">取得 Facebook 使用權限</a>、<a href="http://pi.isuphoto.org/twitterconfig">取得 Twitter 使用權限</a>。</p>
                    <p style="text-align:center;"><a href="http://toomore.s3.amazonaws.com/pipaper/20121210_1.png"><img src="http://toomore.s3.amazonaws.com/pipaper/20121210_1.png" alt="圖片 設定連結範例" style="max-width: 400px;"></a><br><small>設定連結範例</small></p>
                    <p>權限設定之後，未來發表作品就會直接同步到所設定的社群網站。</p>
                    <p style="text-align:center;"><a href="http://toomore.s3.amazonaws.com/pipaper/20121210_2.png"><img src="http://toomore.s3.amazonaws.com/pipaper/20121210_2.png" alt="圖片 Facebook 塗鴉牆範例" style="max-width: 400px;"></a><br><small>Facebook 塗鴉牆範例</small></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">過往的作品重新發佈<sup>Tips</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>對於過去的作品想要重新分享給您的朋友，在每個作品頁面的小工具裡可以找到 "<b>重新發佈</b>" 的功能，直接使用、直接發佈。</p>
                    <p style="text-align:center;"><a href="http://toomore.s3.amazonaws.com/pipaper/20121210_3.png"><img src="http://toomore.s3.amazonaws.com/pipaper/20121210_3.png" alt="圖片 作品頁面重新發佈" style="max-width: 400px;"></a><br><small>作品頁面重新發佈</small></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">圖片瀏覽速度<sup>新增</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>影像紀錄區在上週開始測試 <a href="http://zh.wikipedia.org/wiki/%E5%85%A7%E5%AE%B9%E5%82%B3%E9%81%9E%E7%B6%B2%E8%B7%AF">內容傳遞網路 (CDN)</a>，不論您在地球的哪個端點，連線到影像紀錄區，會自動導向離您較近的機房存取作品，減少內容傳遞的時間。</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#fdb;border-radius:5px;color:#542;font-weight:bold;">意見<sup>建議</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>如有任何問題歡迎使用<a href="http://pi.isuphoto.org/suggest">意見反應</a>，也希望能多多幫忙宣傳影像紀錄區，感謝！</p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:10px;background-color:#eef;border-radius:5px;">
                您在影像紀錄區的資訊：
                <ul>
                    <li>帳號： {{user}}</li>
                    <li>作品頁面： <a href="http://pi.isuphoto.org/{{user}}">pi.isuphoto.org/{{user}}</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">影像紀錄區</td>
        </tr>
    </table>
</body>
</html>
