<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  
  <meta charset="utf-8">
  <title>COSCUP 2013 小啄報你知 第四期</title>

  
</head><body style="font-size: 14px;">
<table style="border: 2px solid rgb(221, 238, 221); padding: 10px; font-size: 14px; font-family: Arial; background-color: rgb(255, 255, 255); margin-top: 15px;" align="center" cellpadding="2" cellspacing="2" width="500">

  <tbody>
    <tr>
      <td><img src="http://coscup.org/2012-theme/assets/coscup.png" alt="圖片 COSCUP Logo" align="right" height="50">
      <h1>小啄報你知</h1>
      <p style="text-align: center;">第四期 2013/07/24 （<a href="http://blog.coscup.org/2013/07/blog-post.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">也
歡迎點這裡看網頁版！</a>）</p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;">Hi</h2>
      <p>倒數第二期了，也就是說 COSCUP 剩下十來天啦！這期當然還是要告訴你一些<b>焦點議程</b>（Linux 核心大神
Greg KH！），還有<b>優惠</b>，還有<b>識別證</b>，還有<b>識別證手工日</b>、<b>Hands on 的繽紛花絮</b>，如果你喜歡這
期的週報，可別忘了到小啄 <a href="http://go.coscup.org/coscup-fb?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">Facebook</a>、
      <a href="http://go.coscup.org/coscup-twitter?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">Twitter</a>、
      <a href="http://go.coscup.org/coscup-plurk?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">Plurk</a>
或 <a href="http://go.coscup.org/coscup-gplus?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">Google+</a>
給我們一點掌聲喲！</p>
      <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" height="30" width="30">焦點議程</h2>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">Open
Code: Why Linux's openness enabled it to succeed where all others
failed.</h3>
      <p>Greg Kroah-Hartman (Greg KH)</p>
      <p>今年 COSCUP 請來了 Linux 核心大神 Greg Kroah-Hartman，大家每天所用的每台 Linux
系統，都是使用 Greg KH 維護的穩定版 Linux 核心作基礎。</p>
      <p>Linux
核心是電腦史上最大的開放源碼專案，在社群人數和開發速度高速增長下，提供一個讓所有商業和差不多所有人每天也使用的操作平台。Greg KH
會講述誰為這平台作開發工作，到底開發速度有多快，發展過程又是怎麼樣？</p>
      <p>(本講題以英文講解)</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間、地點：</span>8/4
13:00 - 14:00 / 全場地聯播</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">新創到中型技術
團隊的經營發展 - 導入OpenSource發展經驗</h3>
      <p>你可能聽過一間新創公司如何發展商業模式，但小啄告訴你，你可能沒有聽過在團隊中的技術團隊如何保持成長動能不斷向前，這間公司從
7 到 70 人，進擊的路上李佳憲(Hiiir 時間軸科技副總經理)帶領大家從互相猜忌到擁抱共識(OpenSource)
讓他們們更專注於目標和架構，李副總經理跟小啄說~~ 偉大航道上遇到的困境和導入方式，分享給大家~</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間、地點：</span>8/4
11:20~11:50 / 201EF</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">高併發
(High Concurrency)、低延遲 (Low Latency)、可擴展 (Scalable)的廣告交易系統設計與演進</h3>
      <p>Vpon 是國內最大的行動廣告平台之一。現任 Vpon Inc. 技術長 Austin Huang
相信，技術只是起點，解決問題及滿足人類需求才是重點。他熱愛挑戰各式系統應用問題，夢想跟一群志同道合的朋友，開發出世界級的系統。在本次的分享中，
Austin 將聊聊如何從一個簡單的 SSH 架構，一步一步克服各種 Scaling
問題，轉變為服務超過2億人、每月提供超過60億次廣告請求的即時廣告交易系統。</p>
      <p>哇~~ 每月60億次的廣告請求~~ 感覺資料量好大啊~ 小啄要飛進去了解一下了，你也快跟上吧！</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間、地點：</span>8/3
11:15~11:45 / 103</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">How To
Make "Pseudo-Google Glass"</h3>
      <p>Noritsuna Imamura</p>
      <p>相信只有很少人試用過 Google Glass (別問有多少人擁有了)，你想擁有「Google Glass」嗎？</p>
      <p>當然小啄和 COSCUP 不會送 Google Glass，但是我們找來今年在台灣工作的 Noritsuna Imamura
分享他自製的 Pseudo-Google Glass。他講解如何利用 Android 平台加上其他裝置如
Kinect、透視顯示器等，來製作這台自家「Google Glass」。</p>
      <p>(本講題以英文講解)</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間、地點：</span>8/3
16:20 - 16:50 / 201D</p>
      <p>上面的議程均有提供錄影授權，親愛的朋友~~ 快查一下<a href="http://coscup.org/2013/zh-tw/program/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">議
程表</a>，決定要聽哪一場吧~</p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" height="30" width="30">行。前。通。報</h2>
      <p>人生海海，COSCUP 有些大代誌要給你瞭改，且聽小啄說來：</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">COSCUP2013
會眾住房優惠</h3>
      <p>你在擔心住宿的問題嗎？在台北沒有落腳的地方嗎？只剩下睡火車站的選擇嗎？</p>
      <p>今年大會贊助商晶璽商旅為 COSCUP 會眾提供住房優惠。若於大會期間有住宿需求，可以參閱連結內容<a href="http://blog.coscup.org/2013/07/coscup2013-at-boutique-special-deal-for.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">取
得住房優惠</a>。</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">近期密切注意你
家信箱!! <span style="color: rgb(255, 0, 0); font-weight: bold;">神秘識別證</span>快
要到你家!!</h3>
      <p>今年獲得識別證的方法與入場報到都與以往大不同！在大會前郵差杯杯會陸陸續續把一封來自COSCUP的神祕信函寄★到★你★家，其中內
容包含了入場所需要的識別證。大會的時候請大家務必帶著識別證到大會報到，今年入場會刷識別證上的NFC(<b>就是那個圈圈貼紙</b>)，<span style="color: rgb(255, 0, 0); font-weight: bold;">如果沒帶識別證來大會的話</span>，在
報到處入口<span style="color: rgb(0, 0, 255); font-weight: bold;">使用人工處理會排隊排很
久很久很久喔！</span>（不要怪小啄沒告訴你：真的會很久！）因為很重要所以要說三次，</p>
      <p><span style="font-weight: bold; font-size: 30px;">記得帶識別證！</span></p>
      <p><span style="font-weight: bold; font-size: 30px;">記得帶識別證！</span></p>
      <p><span style="font-weight: bold; font-size: 30px;">記得帶識別證！</span></p>
      <p>神秘識別證已經請郵差先生掛號去你家，2013/7/26晚上九點如果還沒收到，請與COSCUP
客服專線(行政組)：attendee@coscup.org 聯繫!</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">如果你收到識別
證</h3>
      <p>你收到 COSCUP 識別證了嗎？</p>
      <p>今年為了避免大家入場排隊簽到等待太久，COSCUP 與 雪爾萊克 首度推出「嗶嗶識別證」，(就是識別證上的圈圈貼紙)</p>
      <p>只要攜帶著 COSCUP2013 識別證到會場，就可以「嗶嗶」快速通關唷!</p>
      <p>目前識別證已經大量寄出了，親愛的朋友們，有沒有什麼開信文之類的來跟小啄分享一下 ^O^~</p>
      <p>還有還有，別忘記~識別證要保存好，大會兩天報到要記得帶到 TICC 來「嗶嗶」喔！</p>
      <p>(咦，又提醒一次要帶識別證 XD)</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">★★識別證手工
日繽紛花絮★★</h3>
      <p><img src="http://images.plurk.com/eVqi-6CiSbKTE104YVnzcPvxRNn.jpg" width="450"></p>
      <p>隨著活動日期越來越近，識別證的主體和週邊設備都備妥，7/21這天，我們一群小工人集合在雪爾萊克的辦公室要來做手工啦~~~~ </p>
      <p>在這次的手工日中，我們也發現了之前規畫的流程在實做上有些許的困難點和一開始沒想到的環結；還有大宗郵件寄送的規畫也不容小覷。這些
種種小啄發現都已經加在Lessons Learn文件裡了~ 大家都好棒唷~~~ </p>
      <p>小啄感謝盡心盡力協助的各位：</p>
      <p>精心策劃手工日的場務組工頭: Trista</p>
      <p>場務組夥伴：小畢、賴奕辰
(lan)、MouseMs、Rainny、下午、Sako、Rifur、Vagabond、AngelBoy、欣哥、loye、Yu-chang
Chen (Aleck陳經理)、Sony、雁子、多加、大眼</p>
      <p>線路組夥伴：Neo、David</p>
      <p>銷售組與記錄組夥伴：Candy、丞相、CYJ</p>
      <p>行銷公關組夥伴與總召：Singing、Bob</p>
      <p>以及 Sharelike 贊助商 Shock 的熱情協助。</p>
      <p>以下內容摘錄手工日 Lessons Learn: </p>
      <p>小啄好想給參與夥伴每人100個讚啊~~</p>
      <p><i>....9 人的識別證生產線：平均 15 秒左右可產出一張「對折後 貼完貼紙 塞入識別證套」的識別證。</i></p>
      <p><i>瓶頸關卡在於「貼貼紙」，大概就需要 30 秒，本次由兩人分擔，故最終平均產能如上。</i></p>
      <p><i>* 1700多張名牌，約 2 小時 20 分鐘完成全部的『「對折後 貼完貼紙 塞入識別證套」的識別證』。...</i></p>
      <p>更多完整精彩的手工日劇照，<a href="http://www.flickr.com/photos/coscup/sets/72157634781886980/">請由此去</a></p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">★★Hands
on 繽紛花絮★★</h3>
      <p>一小時網頁 App 離線儲存就上手 - gasolin</p>
      <p>小啄聽說這場Hands on 跟HITCON 衝堂之後，緊張萬分，幸好報名參加的夥伴有98%出席率。</p>
      <p>感謝 gasolin 的分享~ 這裡有一些<a href="http://www.flickr.com/photos/coscup/sets/72157634781886974/">活動照片</a>，
還有如果想要回顧一下活動介紹，<a href="http://blog.coscup.org/2013/07/coscup-2013-mozilla-hands-on.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">請
點這裡</a></p>
      <p>下午場的：一小時 Firefox OS App 就上手 - 是由 Mozilla Taipei
工程師團隊所帶領，讓大家了解如何使用 HTML5 標準 API 與 Mozilla Web API 打造出 Web App。<a href="http://blog.coscup.org/2013/07/coscup-2013-mozilla-hands-on.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter04">再
一次，
我們溫馨回顧精彩畫面</a>。</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">★★COSCUP2013
信封獨秀★★</h3>
      <p>感謝<a href="http://www.softnext.com.tw/">中華數位</a>的特別贊助，讓會眾與講者收到識
別證時有翻外驚喜，也期待大家會喜歡~</p>
      <p>這次紀錄組在收到大會信封後特地走訪一間燈光美氣氛佳的咖啡簡餐店，幫信封做了美美的紀錄</p>
      <p>歡迎大家分享唷~~~</p>
      <p><a href="http://www.flickr.com/photos/coscup/sets/72157634775414337/">COSCUP
2013 信封。我們在六
丁目</a></p>
      <h3>最後一次 COSCUP 2013 議程重點整理與注意事項，請待下期分解！</h3>
      </td>
    </tr>
  </tbody>
</table>

</body></html>
