
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>COSCUP 2013 小啄報你知 第三期</title>
 
</head>
<body style="font-size: 14px;">
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="font-size: 14px;border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo" />
                <h1>小啄報你知</h1>
                <p style="text-align: center">第三期 2013/07/17 （<a href="http://blog.coscup.org/2013/07/2013_9.html?utm_source=newsletter&utm_medium=email&utm_campaign=etter02">也歡迎點這裡看網頁版！</a>）</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify;">
                <h2 style="font-size: 30px;line-height:30px; margin-top: 1em; text-align: center;">Hi</h2>
                <p>來了來了，小啄又從遙遠的彼方飛過來了！第三次的電子報，小啄要講講今年主題中的「Open Data」，當然也要跟你說些有趣的議程、以及今年跟往年更多不一樣的地方！一如往常，如果你喜歡這期的週報，可別忘了到小啄的 <a href="http://go.coscup.org/coscup-fb?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">Facebook</a>、<a href="http://go.coscup.org/coscup-twitter?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">Twitter</a>、<a href="http://go.coscup.org/coscup-plurk?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">Plurk</a> 或 <a href="http://go.coscup.org/coscup-gplus?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">Google+</a> 給我們一點掌聲喲！</p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>    
            <td style="text-align:justify;">
                <h2 style="font-size: 30px;line-height:30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30" />焦點議程</h2>
                <p>噹噹噹~~ 今年 COSCUP 的主題是 Open x [Web, Mobile, Data]，結合了三種方向不同、但精神相符的面向，這一次就來看看 OPEN x Data  的部分吧！作為拜搜尋引擎教的網民，想必你我都已經體會到「資料」所帶來的無限潛能。但在我們的身邊，還有更多資料無緣將這些潛能好好發揮出來，因為他們都被鎖在政策、使用權等等的黑盒子裡。「Open Data」就是希望能將這些資料從各種黑盒子中釋放出來，跟 Open Source 概念一樣、期待藉由開放發揮更強大的潛能。</p>
				<p>今年議程裡有很多跟 Open Data 相關的演講，我們更是請到協助政府開放資料的政務委員張善政先生前來發表 Keynote。對 Open Data 有興趣、有熱情的朋友，一定要好好規劃一下 COSCUP 兩天的行程喲！</p>

                <h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">App on Server: NAS 上的 App 開發與商業模式</h3>
                <p>隨著近年來網路儲存 (NAS) 的硬體平台運算能力及擴充性不斷的向上提升，NAS 有逐漸取代原有中小企業中各個應用程式伺服器的趨勢。</p>
                <p>藉由 QNAP NAS 上的應用程式開發中心，使用者可以很容易地在 NAS 的嵌入式系統中加入各式各樣的應用程式，就如同目前在 Android 上開發 App 一樣，但功能更為強大，資源不受限制。</p>
                <p>在此演講中，會針對 NAS 上 Server App 的開發模式，以及適用於商用軟體的授權機制進行介紹，期使參與者可以了解 Server App 的新架構，進而發揮創意，讓個人與商業的需求可以在 NAS上被實現。</p>
                <p>據講者很認真的告訴小啄：『時時同步，人人分享，處處觀看！QNAP才是您必備的全能NAS』</p>
				<p><span style="color: #980000;font-weight: bold;">時間\地點：</span>8/3 14:30~15:00 102會議室</p>
				
                <h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">HELLO ! NFC!</h3>
                <p>那天小啄在噗浪上看到有朋友說：【我以為ＮＦＣ是家喻戶曉的技術耶】。</p>
                <p>熊熊的想起，這次大會的報到程序就是用ＮＦＣ！根據小啄翻閱WIKI百科（Near Field Communication）距離無線通訊 ，是一種短距離的高頻無線通訊技術，允許電子設備之間進行非接觸式點對點資料傳輸，在十公分（3.9英吋）內交換資料。</p>
                <p>有沒有感覺很很抽象啊？這次小啄就請負責大會報到的雪爾萊克跟大家介紹如何將報到資料與ＮＦＣ貼紙結合，縮短大型活動的報到時間唷～</p>
				<p><span style="color: #980000;font-weight: bold;">時間\地點：</span>8/3  11:15~11:45  201D</p>
				
                <h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">Open Source Governance Today - Where We Are and Where We Are Going</h3>
                <p>Shane Coughlan is an expert in communication methods and business development and helped establish the first law review and law book dedicated to FOSS. He will give a talk to explore developments in Open Source governance around the world over the last twelve months with a particular focus on the outcomes of recent events, meetings and discussions held in Europe, Japan, Korea and Taiwan. </p>
                <p>It will explain how Open Source is being managed in server, desktop, mobile and embedded products, and discusses how this knowledge will prove useful for future products in the embedded, mobile and automative markets. It will put emphasis on how governance is broader than technical or legal concerns, and includes issues of business strategy.</p>
				<p><span style="color: #980000;font-weight: bold;">時間\地點：</span>8/3 16:50 - 17:20 \ 201AB</p>
 
                <h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">巨量資料分析輕鬆上手 -- 教你玩大強子實驗公開數據 / How to Play with the LHC Open Data?</h3>
				<p>大強子實驗產生巨量資料，原來這個物理實驗也可以作開放源碼講題！</p>
				<p>YChao 在台大物理所擔當研究員，目前參與大強子對撞機 CMS 實驗的物理數據分析。目前 CERN 所使用的大型強子對撞型加速器 (LHC)，每年產生 15 PentaByte 的實驗數據，這個絕對是一個巨量資料 (Big Data) 講題。YChao 會基於 CMS 實驗公開提供的模擬與一小部份真實數據與線上課程，將示範使用 ROOT (類似 R Language 的開源碼工具)，在零物理背景知識下，來做簡單的視覺化，與多維度統計分析。</p>
				<p><span style="color: #980000;font-weight: bold;">時間\地點：</span>8/4 09:30 - 10:00 \ 201EF</p>

				<p>上面的議程均有提供錄影授權，親愛的朋友~~ 快查一下<a href="http://coscup.org/2013/zh-tw/program/?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">議程表</a>，決定要聽哪一場吧~</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="font-size: 30px;line-height:30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30" />小啄還要告訴你，這裡有個<a href="http://blog.coscup.org/2013/07/coscup-2013-mozilla-hands-on.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">[Hands-On]</a></h2>
                <p>這次 COSCUP 與 Mozilla 合辦兩場 Hands-on，上午第一場由大神 gasolin 為大家帶來「一小時網頁 App 離線儲存就上手」，這麼難得的機會怎能錯過！</p>
                <ul><li>7/20 上午：<a href="http://registrano.com/events/coscup-2013-hands-on-gasolin?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">一小時網頁 App 離線儲存就上手 - gasolin</a></li>
					<li>地點：資策會 15 樓禮堂（捷運大安站斜對面）, 台北市復興南路一段 390 號 15 樓</li>
				</ul>
                <p>第二場我們邀請到陣容華麗的 Mozilla Taipei 工程師團隊，將讓您在短時間之內，馬上瞭解 Firefox OS App！</p>
                <ul><li>7/20 下午：<a href="http://registrano.com/events/coscup-2013-hands-on-mozilla-Taipei?utm_source=newsletter&utm_medium=email&utm_campaign=letter03">一小時 Firefox OS App 就上手 - Mozilla Taipei 工程師團隊</a></li>
					<li>地點：資策會 15 樓禮堂（捷運大安站斜對面）, 台北市復興南路一段 390 號 15 樓</li>
				</ul>				
                <p>名額有限，大家快點搶位子吧！</p>

            </td>
        </tr>
        <tr>
            <td>
                <h2 style="font-size: 30px;line-height:30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30" />行。前。通。報</h2>
                <p>人生海海，COSCUP 有些大代誌要給你瞭改，且聽小啄說來：</p>
				<h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">別忘了自約 <span style="color:#ff0000;font-weight:bold;">B</span><span style="color:#0000ff;font-weight:bold;">o</span><span style="color:#00ff00;font-weight:bold;">F</span>!</h3>
				<p>往年 COSCUP 第一日晚上 都會有 BoF, Birds of a Feather，今年也按慣例的提醒你！有想約的團嗎？有想跟的團嗎？別忘了趕快報名！今年大會沒有提供 BoF 的場地，想約 BoF 的主辦，別忘了事先找場地才能舉辦好玩又開心的聚會！BoF 一起揪團去，請往<a href="http://go.coscup.org/2013bof">這裡走</a>。</p>
				
				<h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;">還有好多好多<span style="color:#00ff00;font-weight:bold;">社</span><span style="color:#0000ff;font-weight:bold;">群</span><span style="color:#ff0000;font-weight:bold;">議</span><span style="color:#ffd966;font-weight:bold;">程</span>~</h3>
				<p>各位捧油們，我們除了正規的議程之外，今年還多了社群議程。所謂的社群議程就是請許許多多的開源社群來介紹他們的社群、或是正在做的事。如果你想貢獻更多但還沒有專屬的社群、如果你向認識更多的開源社群，社群議程是你不可或需的好幫手！來過看過千萬不要錯過～～(叫賣ing</p>

				<h3 style="margin-top: 1.75em; font-size: 20px;line-height:20px;"><span style="background-color:#fce5cd;"><span style="color:#00ff00;font-weight:bold;">社</span><span style="color:#0000ff;font-weight:bold;">群</span><span style="color:#6aa84f;font-weight:bold;">擺</span><span style="color:#ff0000;font-weight:bold;">攤</span></span>也不遑多壤</h3>
				<p>開源社群是組成 COSCUP 的一個重要元素，當然社群攤位是一定要的。今年擺攤的名單有 MozTW, Mozilla 台灣社群、OSSF 自由軟體鑄造場、Python Taiwan、Taiwan R user Group、Bitcoin 中文社群、UbuntuTW 等六個社群，每個社群都有準備豐富的內容、或許還有可以讓你偷偷帶走的專屬紀念品。你準備好去社群攤位打聲招呼了嗎 (Rock  凹_凹)</p>

				
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="font-size: 30px;line-height:30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30" />蛇摸!! 贊助商 <span style="color:#ff0000;font-weight:bold;">RS</span> 有辦活動要送 Raspberry Pi !!!!</h2>
				<p>只送給COSCUP會眾和講者的好康活動要公布了! 現在開始上載使用Raspberry Pi的方案到新發佈的<a href="http://go.coscup.org/designshare-newsletter">DesignShare</a>就有機會贏取Raspberry Pi 連外殼! 最快上載的五個參加者就可以在COSCUP會場把獎品帶回家，還會在現場抽出五個幸運的參加者。馬上到<a href="http://go.coscup.org/getRSevent">活動專頁</a>參加! <a href="http://go.coscup.org/designshare-newsletter">DesignShare</a>是一個分享開源專案的專區，讓開源用戶分享和學習開源專案。</p>
				<p><a href="http://go.coscup.org/getRSevent">活動網址，立即點閱</a></p>
			</td>
		</tr>
    </table>
</body>
</html>
