<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  
  <meta charset="utf-8">
  <title>COSCUP 2013 小啄報你知 第五期</title>

  
</head><body style="font-size: 14px;">
<table style="border: 2px solid rgb(221, 238, 221); padding: 10px; font-size: 14px; font-family: Arial; background-color: rgb(255, 255, 255); margin-top: 15px;" align="center" cellpadding="2" cellspacing="2" width="500">

  <tbody>
    <tr>
      <td><img src="http://coscup.org/2012-theme/assets/coscup.png" alt="圖片 COSCUP Logo" align="right" height="50">
      <h1>小啄報你知</h1>
      <p style="text-align: center;">第五期 2013/08/02 （<a href="http://blog.coscup.org/2013/07/blog-post_31.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">也
歡迎點這裡看網頁版！</a>）</p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;">Hi</h2>
      <p>呼，週末就是 COSCUP，這也是最後一期的電子報～ 看到這裡，記得二話不說，先把識別證放進你要拿來參加 COSCUP
的包包裡，免得到時要排很久的隊伍手動報到喲！接下來讓我們看看這期有什麼有趣的內容唄</p>
      <p>一如往常，如果你喜歡這期的週報，可別忘了到小啄的<a href="http://go.coscup.org/coscup-fb?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">Facebook</a>、
      <a href="http://go.coscup.org/coscup-twitter?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">Twitter</a>、
      <a href="http://go.coscup.org/coscup-plurk?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">Plurk</a>
或 <a href="http://go.coscup.org/coscup-gplus?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">Google+</a>
給我們一點掌聲喲！</p>
      <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" height="30" width="30">焦點議程</h2>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">Open
Data Initiatives for Taiwan</h3>
      <p>近年全球興起一浪開放資料 (Open Data)
熱潮，民眾從開放資料中得到便利，也可以從中了解到國家和城市的情況。政府對開放資料支持、態度和行動，對國家和城市開放資料的發展速度有一定影響。台灣
在 2012 年尾正式推動 open data，政府部門在 2013 年第二季開始釋出一些數據。</p>
      <p>今年 COSCUP 有幸邀請到行政院政務委員 - 張善政委員，在第一天的 keynote 介紹台灣政府在開放資料上的進展。</p>
      <p>大家記得準時到場啊！！！</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span>8/3
09:10 - 09:40 \ 101ABCD (全場地聯播)</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">Open
Source Engine powering Big Data in the Cloud</h3>
      <p>在IT產業14年的 Markku 目前在AWS擔任 APAC Technology Evangelist ，Markku
將透過他在芬蘭、中國大陸、新加坡的工作經驗和大家解釋 Big Data 是如何和開源工具、雲端計算 一起運作的， 透過實際案例告訴各位
Data Driven Businesses 會碰到的挑戰、 機會以及實作上的技巧。</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span>8/3
10:15~11:15 \ 101會議室，全場聯播</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">From
Git to Production - Amazon Web Services in Action</h3>
      <p>Markku會在這次的議程中我們將在現場 demo 如何使用 ElasticBeanstalk 來做到自動部署, load
balancing, auto scaling , 以及伺服器狀態監控。</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span><span style="color: rgb(51, 51, 51); font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 15px; text-align: left; text-indent: 0px; text-transform: none; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">8/3 11:45~12:15 \ 103會議室</span></p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">Raspberry
PI and the future – Leveraging Open Source hardware and software for
education and commercial development</h3>
      <p>Raspberry Pi 是 Broadcom 在開源軟硬體界的 SOC 解決方案首次嘗試，這次的簡報中我們將介紹
Raspberry Pi 基金會以及 Broadcom
在參與的過程中面臨的挑戰，又是如何將這個產品帶到市場上的，最後再跟大家介紹今後的計畫以及一些預定導入的新玩意兒。這場 keynote 也會頒出<a href="http://go.coscup.org/getRSevent">RS Components 活動送的 <span style="color: rgb(255, 0, 0);">10</span>塊 Raspberry Pi !</a></p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span>8/4
15:10~16:10 \ 101 會議室 全場聯播</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">DesignSpark
免費設計資源與 Raspberry Pi 新應用</h3>
      <p>知道Raspberry Pi推出一年多後有什麼改進和新應用嗎? DesignSpark 的技術演講將告訴你如何使用 PCB
設計軟體，及數萬個符號與 3D 模型來玩 Raspberry Pi! </p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span>8/4
14:00~14:30 \ 102 會議室</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">純自由軟體的虛
擬偶像歌手實作</h3>
      <p>開源軟件不只是我們的眼睛從顯示器中看到，也可以透過我們的耳朵聽得見。</p>
      <p>自由軟件信眾 Paul Liu (Ying-Chun Liu) 一直想向專屬軟件下戰書。Paul 會在 COSCUP
上介紹目前華語偶像歌手實作進度，自動處理子音與母音切割的技術，語音合成的腳本，並會示範目前所擁有的成果。</p>
      <p><span style="color: rgb(152, 0, 0); font-weight: bold;">時間\地點：</span>8/3
11:45 - 12:15 \ 201D</p>
      <p>上面的議程均有提供錄影授權，親愛的朋友~~ 快查一下<a href="http://coscup.org/2013/zh-tw/program/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">議
程表</a>，決定要聽哪一場吧~</p>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;">茫
茫大海中，該如何規畫我想聽的議程？</h2>
      <p>什麼？小啄聽到很多會眾反應這次 COSCUP
一次八軌議程讓人太難以選擇，就算決定了，也會一下子就忘記待會要聽哪一場！(會嗎？)</p>
      <p><a href="http://go.coscup.org/coscup-unisharp">悠夏爾科技</a>
特別針對這次的 COSCUP 製作了一個『<a href="http://go.coscup.org/coscup-mymap">我的活動地圖
for COSCUP 2013</a>』，讓大家很容易的規劃自己的趕場路線，快點去規劃吧！</p>
      <p>對了，聽說他們<a href="http://go.coscup.org/coscup-freeticket">有贈票活動，快
去搶票吧！</a></p>
      </td>
    </tr>
    <tr>
      <td>
      <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;"><img src="http://s3.toomore.net/coscup/img/coscup.png" height="30" width="30">行。前。通。報</h2>
      <p>人生海海，COSCUP 有些大代誌要給你瞭改，且聽小啄說來：</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">收到識別證不要
高興太早，記得帶他出門</h3>
      <p>嘿，你收到識別證了嗎！報名參加COSCUP，但卻不屬於工作人員、
講者、主持人或是海外會眾（包括香港、大陸的參加者），可是還沒收到識別證，請趕快與COSCUP
客服專線(行政組)：attendee@coscup.org 聯繫！</p>
      <p>活動當天全憑識別證入場，大會期間請務必一定記得要記得 <span style="font-size: 20px;">攜<span style="color: rgb(0, 255, 0); font-weight: bold;">★</span>帶<span style="color: rgb(0, 0, 255); font-weight: bold;">★</span>識<span style="color: rgb(255, 0, 0); font-weight: bold;">★</span>別<span style="color: rgb(255, 217, 102); font-weight: bold;">★</span>證</span>
。萬一忘了帶識別證到場，現場申請可是會等超級久，等到你天荒地老海枯石爛，但是排隊人群依然屹立不搖的啊！</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">什麼！這麼好康
還有用餐優惠～</h3>
      <p>今年大會不提供會眾午餐便當，要請各位在午餐時段三五朋友自行相約外出用餐啦！COSCUP
這次和部分餐廳有合作，前往指定的餐廳可享促銷優惠價，請千萬不要錯過了～但記得攜帶無敵萬能識別證出示才有優惠
(所以你看識別證多重要小啄都跟你說了) 優惠餐廳資訊 <a href="http://blog.coscup.org/2013/07/blog-post_27.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">連
結請點我</a></p>
      <p>偷偷說，不知道吃什麼好就快來 <a href="http://go.coscup.org/coscup-solt">餐廳拉霸
機</a> 試試手氣 :-D </p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">來 BoF
啦~~~</h3>
      <p>什麼，別跟我說你不知道有 BoF ！今年大會雖然沒有提供 BoF 的場地，但 BoF
一樣有揪團的啦，今年一樣有許多團可報名參加，心動不如馬上行動~~~ 文件報名 <a href="http://go.coscup.org/2013bof">請往這裡走</a></p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">COSCUP2013
會眾住房有優惠</h3>
      <p>大會只剩一星期，依然在擔心住宿的問題嗎？ 難道只剩下睡火車站的選擇嗎？</p>
      <p>別擔心！ 今年大會贊助商晶璽商旅為 COSCUP 會眾提供住房優惠。若於大會期間有住宿需求，可以參閱 <a href="http://blog.coscup.org/2013/07/coscup2013-at-boutique-special-deal-for.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">這
個連結內容</a> 取得住房優惠。</p>
      <h3 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">工商服務
COSCUP 大會的好康活動:</h3>
      <p>RS Components 有活動送 Raspberry Pi ，<a href="http://go.coscup.org/getRSevent">快來看看</a>贈送方式 ! </p>
      <p>RS Components 還有贈票活動：「<span style="color: rgb(0, 0, 255); font-weight: bold;">RS
Components又有好康活動啦~這次會送出十八張COSCUP門票, 上次沒搶到門票的話就不要錯過這最後機會! 這次送門票的方式有幾個,
盡量讓大家可以爭取到門票</span>。<a href="http://go.coscup.org/getRSevent">活動詳情參閱</a></p>
      <h4 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">其他合作伙伴的
好康方案</h4>
      <p> </p>
      <li>QNAP 威聯通科技推出<a href="http://blog.coscup.org/2013/07/coscup-x-qnap.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">現
場攤位 4Bay NAS優惠活動</a> </li>
      <li>桑格設計書店攤位購書<a href="http://blog.coscup.org/2013/07/in-coscup-2013_29.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">優
惠活動</a></li>
      <li>憑COSCUP識別證，海琴影像的婚攝/婚紗拍照有優惠，<a href="http://blog.coscup.org/2013/07/coscup-x.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">參
考連結請點我</a></li>
      <li>天瓏書店攤位購書<a href="http://blog.coscup.org/2013/07/in-coscup-2013.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">優
惠活動</a>
        
        <h4 style="margin-top: 1.75em; font-size: 20px; line-height: 20px;">上週末的
Hands on</h4>
        <p>還有 Hands on 的<a href="http://go.coscup.org/coscup-flickr">精采劇
照</a>在這裡，有帥哥正妹講師群、有大家專注的每個畫面，你也參加了上週末在CLBC舉行的 Hands on嗎？快來溫故知新！沒參加過
Hands on 的朋友，藉此了解活動課程，小啄歡迎你們下次來參加唷~~~</p>
        <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;">-=
大 地 遊 戲 獨 家 贈 品 =-</h2>
        <p>燈愣! 大地遊戲限量200份 !? 解任務取贈品、<a href="http://blog.coscup.org/2013/07/blog-post_5732.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">相
關說明在這裡</a></p>
        <h2 style="font-size: 30px; line-height: 30px; margin-top: 1em; text-align: center;">興
高采烈 有獎徵答與抽獎</h2>
        <p>非常開心今年我們的贊助商們今年提供了一些獎項與我們同歡~時間地點相關住意事項，快上<a href="http://blog.coscup.org/2013/07/blog-post_985.html?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter05">部
落格文章</a>看一下</p>
      </li>
      </td>
    </tr>
  </tbody>
</table>

</body></html>
