<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>COSCUP 2013 小啄報你知 第一期</title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
em {color:red;}
.timeplace{
    color: orange;
    font-weight: bold;
}
.finalline {
    margin-top: 3em;
}
h1 {color:green;font-family:Arial;font-weight:bold;}
h2 {font-size: 35px; margin-top: 1em; text-align: center}
h3 {margin-top: 1.75em; font-size: 20px;}</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <h1>COSCUP2013 小啄報你知</h1>
                <p style="text-align: center">第一期 2013/07/03 （<a href="http://blog.coscup.org/2013/07/2013.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter01">也歡迎點這裡看網頁版！</a>）</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify;">
                <h2>Hi</h2>
                <p>各位即將參加今年驚天地泣鬼神之 COSCUP 2013 的朋友們，大家好！</p>
                <p>從這星期開始連續五週，小啄在每週三會告訴你一些 COSCUP 2013 的大代誌，包括今年的主題介紹與焦點議程，還有關於參加今年 COSCUP 的重要事項。你是不是也超級期待 8/3 的小啄演唱會呢？</p>
                <p>就讓我們看看這期的內容吧！</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify;">
                <h2><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30">焦點議程</h2>
                <p>噹噹噹~~ 今年 COSCUP 的主題是 Open x [Web, Mobile, Data]，結合了三種方向不同、但精神相符的面向，第一次見面就先來看看 OPEN x Web 的部分吧！</p>
                <p>打從盤古開天... 啊不對沒那麼久 （被揍） </p>
                <p>打從幾年前數次的瀏覽器戰爭起，「Open Web」就一直是個熱門焦點，COSCUP 2010 也曾經以 HTML5 作為主題。喜歡「Open」精神的人都希望自己能擁有選擇的權利，不會因為特定技術要被綁死在某個軟體上。Open Web 曾經代表開放的網站開發標準，而現在更擴展到強大、能與其他程式語言一較高下的技術發展。</p>
                <p>今年與 Open Web 相關的主題包括「Web front-end」及「Cloud & Backend technology」。高手雲集的狀況，仍可發現 Web 還是當紅炸子雞哩！這次小啄來介紹四個你可以在 COSCUP 聽到的題目：</p>

                <h3>全台灣最宅的科科科技</h3>
                <p>最近 KKBOX 廣告打得火熱~ 連小啄都想要上線跟心愛的偶像一起聽音樂了~(醉~) 大家會不會跟小啄一樣好奇，KKBOX 怎麼把那麼多~那麼多~音樂存在肚子裡的阿？據說這個演講會讓我們知道他們怎麼儲存上百萬上千萬的音樂檔案哦！？</p>
                <p>這次 COSCUP 請來 KKBOX 的網管工頭 <a href="http://about.me/honglong">Chris Yuan</a>，要跟大家講一下 Mogilefs 分散式檔案系統（Distributed File System），這是一種以低成本、高可靠度的檔案儲存方式，KKBOX 用來在後端儲存各種不同格式音檔。至於細節， 就等 <em>8/3 下午</em> 詳細見真章啦！ </p>
                <p><span class="timeplace">時間\地點：</span>8/3 15:00~15:30 \ 102  科科科科科科.....</p>

                <h3>Yeoman</h3>
                <p>相信有些朋友應該會跟小啄一樣歪著頭想， 這是啥？  O.O? 根據講者 kmsheng 提供的內容是：（低頭看著稿念） Yeoman 是由多個 Google 工程師開發的一套最新、最潮的 web 工作流程。本議程將介紹如何客制化你自己的 Yeoman Generator，進而達到快速建置常用程式、自動設定 config 檔以及幫助團隊成員遵守程式規範...等目標。</p>
                <p>據說用了 Yeoman 這個工具能優化WebApp 開發流程，可以飛得比小啄還快耶~~~ 到時候<em>8/3 下午</em>一起飛吧 ?</p>
                <p><span class="timeplace">時間\地點：</span>8/3 15:00~15:30 \ <strong>101A</strong></p>

                <h3>經驗分享：用 Javascript 實作注音輸入法</h3>
                <p>這是一場充滿實戰經驗分享的演講，由 Mozilla Taiwan 的 timdream 大大出場！</p>
                <p>「JS注音」是使用前端 Web 技術實作自動選字注音輸入法的嘗試。要在瀏覽器實作輸入法，API 設計、搜尋演算法、詞庫設計、記憶體使用等都需要許多考量。此程式作為獨立的 library，已經有獨立網頁、Firefox 附加元件、FxOS 鍵盤三個使用案例。本次演講將報告實作進度與開發經驗，未來可行方向，希望能和其他開源輸入法開發夥伴切磋、交流。</p>
                <p><span class="timeplace">時間\地點：</span>8/3 13:30~14:00 \ <strong>101B</strong></p>

                <h3>我用 Node.js 開發自己的 Web 瀏覽器？</h3>
                <p>來啦、來啦，全球首位在國際研討會發表退學宣言的 Fred Chien 又來 COSCUP 發表好玩的東西啦！</p>
                <p>失去瀏覽器為依靠的 JavaScript，令人感到不安、充滿焦慮。到底是瀏覽器成就了我，還是我成就了瀏覽器？ 既然感到害怕，就面對他吧！既然是 Open Source Developer，就動手做吧！用 Node.js 來開發自己的 Web 瀏覽器，支援 HTML5/CSS3/WebGL 等最新標準的瀏覽器！</p>
                <p><span class="timeplace">時間\地點：</span>8/4 10:00~10:30 \ <strong>101B</strong></p>

                <p class="finalline">上面的議程均有提供錄影授權，親愛的朋友~~ 快查一下<a href="http://coscup.org/2013/zh-tw/program/?utm_source=newsletter&utm_medium=email&utm_campaign=letter01">議程表</a>，決定要聽哪一場吧~</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30"><small>廣告插播</small><br>個人贊助方案仍持續進行中</h2>
                    <p>人生這麼難得在 COSCUP 名留青史的機會，怎能錯過？</p>
                    <p>迅速前往<a href="http://blog.coscup.org/2013/06/coscup-2013-individual-sponsorship.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter01">活動說明<a/>，或者直接<a href="http://registrano.com/events/personalsponsor?utm_source=newsletter&utm_medium=email&utm_campaign=letter01">衝刺報名</a>吧！
            </td>
        </tr>
        <tr>
            <td>
                <h2><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30">行前通報</h2>
                <p>人生海海，COSCUP 2013 有些大代誌要給你瞭改，且聽小啄說來：</p>

                <h3>1. 快檢查名片！</h3>
                    <p>COSCUP 除了聽講，更是個交朋友的地方，千萬千萬不要忘了攜帶您的名片來喲！若您是學生，也可以自行列印一些名片，以方便和其他夥伴交換通訊方式。<p>

                <h3>2. 「不是」中研院人文館！</h3>
                    <p>今年 COSCUP 首次進軍位於台北市信義區精華地段的台北國際會議中心，容納更多議程同時進行、也讓更多人能參加這個盛會！請不要當天傻傻的跑到人文館去唷 :P</p>

                <h3>3. 準備體驗粉先進的報到方式！</h3>
                    <p>一般會眾即將收到大會精心制作的 NFC 識別證，請收好你的識別證當天帶來，進場只要畢畢畢畢就報到完畢了！沒帶的就準備落入漫長手動報到地獄吧，mhuhahahahaha！</p>

                <h3>4. 議程表還可能更動，Reload 吧你！</h3>
                    <p>今年超可怕之高達八軌、超過一百段演講的議程表，一如往常還有可能會不斷修改！請記得三不五時回到 COSCUP 網站上看一下，免得到時殘念，抱憾而歸的啦！</p>

                <p class="finalline">更多 COSCUP 2013 注意事項，請待下期分解！</p>
            </td>
        </tr>
    </table>
</body>
</html>
