
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>COSCUP 2013 小啄報你知 第二期</title>
<style>
    body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
em {color:red;}
.timeplace{
    color: orange;
    font-weight: bold;
}
.finalline {
    margin-top: 3em;
}
h1 {color:green;font-family:Arial;font-weight:bold;}
h2 {font-size: 35px; margin-top: 1em; text-align: center}
h3 {margin-top: 1.75em; font-size: 20px;}

.under{text-decoration:underline;}
.f1{color:Blue;}
.f2{color:Red;}
.f3{background-color:blue;color:#ff00ff}
.f_color1{ color:#ff0000;font-weight:bold;}
.f_color2{ color:#0000ff;font-weight:bold;}
.f_color3{ color:#00ff00;font-weight:bold;}
.f_color4{ color:#ffd966;font-weight:bold;}
.f_color5{ color:#6aa84f;font-weight:bold;}
.f_color6{ color:#ff00ff;font-weight:bold;}
.f_color_bk{background-color:#fce5cd;}             
                    
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <h1>COSCUP2013 小啄報你知</h1>
                <p style="text-align: center">第二期 2013/07/10 （<a href="http://blog.coscup.org/2013/07/2013_9.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter02">也歡迎點這裡看網頁版！</a>）</p>
            </td>
        </tr>
        <tr>
            <td style="text-align:justify;">
                <h2>Hi</h2>
                <p>
                    呼呼呼，第二期的小啄週報來啦！這期我們將為您介紹今年主題「Open 
                    Mobile」的含義，當然也準備了一些焦點議題要介紹給你知。如果你喜歡這期的週報，可別忘了到小啄的
                    <a href="http://go.coscup.org/coscup-fb" 
                        style="text-decoration:none;">
                    Facebook</a>、<a 
                        href="http://go.coscup.org/coscup-twitter" 
                        style="text-decoration:none;">Twitter</a>、<a 
                        href="http://go.coscup.org/coscup-plurk" 
                        style="text-decoration:none;">Plurk</a>
                    或 
                    <a href="http://go.coscup.org/coscup-gplus" 
                        style="text-decoration:none;">
                    Google+</a>給我們一點掌聲喲！</p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>    
            <td style="text-align:justify;">
                <h2><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30">焦點議程</h2>
                <p>
                    上次介紹過了 Open Web，這回輪到今年主題 Open x [Web, Mobile, Data] 的第二重點「Open Mobile」啦！從幾年前 
                    Android 真正為開放原始碼行動平台打響名號後，行動作業系統的市場上在最近又多了 Firefox OS、Tizen、Sailfish OS 與 Ubuntu 
                    Touch 等生力軍。，這些新生代的開放作業系統，都試圖在 iOS 、Android、Windows Phone 
                    三大陣營中求生存，針對不同的市場、訴求不同的理念。今年跟 Open Mobile 相關的主題包括 Mobile、OS &amp; Embedded 
                    System、System &amp; UI Toolkit、Web front-end... 等等，怎麼會跑出 Web 的東西呢？這就是神奇的地方，記得快上<a 
                        href="http://coscup.org/2013/zh-tw/program/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=letter02" 
                        style="text-decoration:none;"> 議程表</a> 瞧瞧眾高手精心規劃的好菜！</p>

                <h3>
                    Continuous Integration for the Applications on top of Hadoop</h3>
                    <p>
   是的，因為網頁上的這個議程議程介紹是<span>英文</span>!!!!. 
                        <br />
                        小啄特地飛到 Yahoo 請他們提供一份簡單明瞭的中文介紹!<br />
                        根據講者 Wisely Chen & Neal Lee 告訴小啄，這整段敘述是這樣的：<br />
                        CI on Hadoop 有沒有搞頭。是的，我們為Pig script製作一串CI 到CD的流程, 如此可以快速增進Hadoop Job 的效率。<br />
                        聽起來好像很棒耶!!!  雖然小啄有點聽不懂，不過只要是可以提高效率的方法, 都很值得來研究一下對不～～<br />
                        <span class="f1">這時候小啄一定要告訴你, 本場次沒有錄影重播、也沒有電子檔可以下載唷~ 
                        <br />
                        有興趣的朋友, 千～～～萬別錯過!<br />
                        </span>
                        <p><span class="timeplace">時間\地點：</span>8/3 11:150~11:45 \ 102</p>
                <h3>Qt 正夯，GTK+ 使用者該如何跳槽? (PCMan 的跳槽快速攻略)</h3>
                <p>PCMan 要跳槽 ?!<br />
GTK+ 在這十年來一直得到開發 GUI 程式的程式設計師偏愛，直到 GNOME 3 初推出時，在 API 而至 UI 大幅改動下而評價兩極。另一方面，數度易主的 Qt，授權方式變得開放而吸引力越來越大，PCMan 認為這個是「跳槽」的時機。<br />
PCMan 透過這場演講，整理兩者的概念相同和相異之處，向慣用 GTK+ 的開發者分享如何跨出第一步，邁向跳槽 Qt 之路!</p>
<p><span class="timeplace">時間\地點：</span>8/3 16:50 - 17:20 \ 101A</p>
                <h3>萌典: moedict.tw </h3>
                <p>知名的台灣自由軟體程式員唐鳳這次在 g0v.tw 社群議程分享心得! <br />
教育部已建立國語辭典網站很多年了，但是，超！難！用！<br />
使用介面是一個好網站成功的原因，唐鳳將會講述零時政府 g0v.tw「萌典」計劃的發展歷程，利用教育部辭典網站的資料「再造輪子」，建立民間版的民間版＜教育部國語辭典＞的「開放資料界面」與「應用範例」。<br />
時間\地點：8/3 14:30 - 15:00 \ 201AB</p>
 
<p>上面的議程均有提供錄影授權，親愛的朋友~~ 快查一下議程表，決定要聽哪一場吧~</p>
                 
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="under"><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30">個人贊助方案仍持續進行中</h2>
                <p>人生這麼難得在 COSCUP 名留青史的機會, 小啄最後一次深情呼喚!</p>
                <p>補血說明:  個人贊助不但有專屬版本的 POLO 衫，還能獲得大會獨家+限量的神祕贈品哦~</p>
                <p>活動截止日期:2013/07/12</p>
                <p><a href="http://blog.coscup.org/2013/06/coscup-2013-individual-sponsorship.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter02">活動說明連結</a></p>
                <p><a href="http://registrano.com/events/personalsponsor?utm_source=newsletter&utm_medium=email&utm_campaign=letter02">報名頁面連結</a></p>            
            </td>
        </tr>
        <tr>
            <td>
                <h2><img src="http://s3.toomore.net/coscup/img/coscup.png" width="30" height="30">行前通報</h2>
                <p>人生海海，COSCUP 2013 有些大代誌要給你瞭改，且聽小啄說來：</p>
<h3 class="under">記得出外覓食！</h3>
<p>今年COSCUP用最棒的演講餵飽各位聽眾的精神，在精神得到滿足的同時也別忘了生理的飢餓。今年COSCUP沒有提供便當給大家，所以要請大家到處走走、出外散步找食物啦！ 如果不知道要吃什麼沒關係，大會有和附近指定商家簽立特約服務，活動前記得還是翻一下COSCUP blog, 會有超級完整說明版!!</p>
<p>小啄偷偷告訴你，會有殺必死唷～ 啾咪 ^.<*</p>

<h3 class="under">議程表還可能更動，
<span class="f_color_bk"><span class="f_color1">R</span><span class="f_color2">e</span><span class="f_color3">l</span><span class="f_color4">o</span><span class="f_color5">a</span><span class="f_color6">d</span></span> 是很重要的！</h3>
<p>今年高達八軌、超過一百段演講的議程表，一如往常還有可能會不斷修改喔！請記得三不五時回到 COSCUP 網站看看議程表，免得到時候錯過目標演講而飲恨一輩子啊！</p>


<h3 class="under">什麼！還有大<span class="f_color1">★</span>地<span class="f_color2">★</span>遊<span class="f_color3">★</span>戲？！</h3>
<p>今年為所有參加者設計好玩的大地遊戲，快到各攤位走透透，除了攤位本身的資訊外，還可以額外得到許多紀念品唷~ 這麼好康又好玩的遊戲，不要說小啄沒有告訴你 =P</p>
<p>COSCUP 2013 尋寶闖關活動：</p>
<p><b>參與者須在COSCUP的攤位中找尋寶物，並將找到的寶物展示在包包上，<br />
   8/3 活動當日完成寶物蒐集，即可至服務處獲得COSCUP大會當日提供的限量精美獎品。<br />
   注意: <span class="under">COSCUP 2013 獨家贈品</span>只有 <span class="f3">200</span> 份呀~~~~~~ </b>
</p>

<h3 class="under">COSCUP2013 會眾住房優惠</h3>
<p>你在擔心住宿的問題嗎？在台北沒有落腳的地方嗎？只剩下睡火車站的選擇嗎？</p>
<p>今年大會贊助商晶璽商旅為 COSCUP 會眾提供住房優惠。若於大會期間有住宿需求，可以參閱連結內容取得<a href="http://blog.coscup.org/2013/07/coscup2013-at-boutique-special-deal-for.html?utm_source=newsletter&utm_medium=email&utm_campaign=letter02">住房優惠</a>。</p>


                <p class="finalline">更多 COSCUP 2013 注意事項，請待下期分解！</p>
            </td>
        </tr>
    </table>
</body>
</html>
