<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>COSCUP2013 Weekly</title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right" alt="圖片 COSCUP Logo"></a>
                <p style="font-size:16px;">COSCUP2013 Weekly #08<br>
                    <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org 20130629</a><br>
                    <a href="http://www.timeanddate.com/countdown/generic?iso=20130803T09&p0=241&fg1=9acd79&msg=COSCUP+2013" target="_blank" style="color:#a9a9a9;text-decoration:none;float:right;font-size:11px;">34 days until 2013/08/03</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:justify;">
                <p>Hi 各位好：</p>
                <p style="margin-left:10px;"> <b>COSCUP 2013</b> 工作團隊今年會發行雙週報與各位分享各組的狀況，歡迎大家給予協助與指教，以下是各組的近況：</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">總召 <sup>BobChao</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <h4>這兩週</h4>
                    <ol>
                        <li>What is COSCUP 接近完稿，應該這週可以交 </li>
                        <li>調整預算：住宿、講者旅遊等 </li>
                        <li>其它跨組協調事宜 </li>
                    </ol>
                    <h4>接下來要做的事情</h4>
                    <ol>
                        <li>開啓鬼柏強模式追殺各組進度</li>
                        <li>其它跨組協調事宜</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">議程組 <sup>小朱</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>#691 COSCUP hands on tutorial Mosky</li>
                        <li>#900 panel discussion 小朱</li>
                        <li>#901 規劃 panel discussion 場地佈置 Pofeng</li>
                        <li>#1005 [meta] 講者補助計劃 小朱</li>
                        <li>#1010 COSCUP Hands-on 修習證明製作 AL Yu-Chen</li>
                        <li>#1015 蒐集社群主持人名單 Mosky</li>
                        <li>#1020 更改議程：為了座談會修改議程 小朱</li>
                        <li>#1037 取得延伸座談會的摘要以及講者簡介</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#fbb;border-radius:5px;color:#522;font-weight:bold;">銷售組 <sup>shiashia</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>COSCUP 今年有許多贊助商提供的獎品，會在活動期間抽出幸運得主們，敬請期待！ :D</li>
                        <li>COSCUP 2013 個人贊助方案至 7/12 截止，還有名額，懇請大家幫忙擴散宣傳與鼓勵支持贊助 COSCUP<a href="http://registrano.com/events/personalsponsor">http://registrano.com/events/personalsponsor</a></li>
                        <li>Call for Individual Sponsorship of COSCUP 2013. We need your support! <a href="http://registrano.com/events/personalsponsor">http://registrano.com/events/personalsponsor</a></li>
                        <li>If you are interested in sponsoring COSCUP, please contact <a href="mailto:sponsorship@coscup.org">sponsorship@coscup.org</a>.</li>
                        <li>企業贊助也持續徵求中，如果您有興趣，請與 <a href="mailto:sponsorship@coscup.org">sponsorship@coscup.org</a> 聯繫，謝謝！</li>
                        <li>COSCUPの活動を支持していただけるスポンサー様を募集しております。詳しくは以下へお問い合わせください。<a href="mailto:sponsorship@coscup.org">sponsorship@coscup.org</a>.</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#252;border-radius:5px;color:#efe;font-weight:bold;">線路組 <sup>David</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>無</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#225;border-radius:5px;color:#eef;font-weight:bold;">紀錄組 <sup>Aminzai</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>開始準備排班工作(正在做）</li>
                        <li>商請銷售組商借 NAS & 全場聯播用電腦(正在做)</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#522;border-radius:5px;color:#fee;font-weight:bold;">會計組 <sup>Timchen</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>商家所開收據，請蓋上免用發票專用章（有統編）。收據上應有開立公司之大小章，並有「免用發票專用章」六個字，及公司名稱和統一編號號碼，而小章為公司負責人章。若大寫金額有誤，不得修正，請重開收據。
                        </li>
                        <li>郵局購買票品證明單可作為支出單據。</li>
                        <li>預算固定出款日是每月的 10 號以及 25 號，請提早通知會計組。</li>
                        <li>廠商發票請記得打統編，統編資訊請參考：<a href="http://goo.gl/RtuYK">http://goo.gl/RtuYK</a>。</li>
                        <li>會計組不負責批准預算，預算由總招核准後，需用款時，請提早告知提供會計組預算編號及帳戶資訊以便在出款日匯款。</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bf6;border-radius:5px;color:#352;font-weight:bold;">場務組 <sup>Trista</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <h4>上期已完成</h4>
                    <ol>
                        <li>感謝行政組全力支援，場務組志工全數登錄完畢 :D </li>
                        <li>場務組內部 mailing list 建立完畢。 </li>
                        <li>場地圖與攤位圖初稿建立完畢。</li>
                        <li>手工日細流規劃初稿建立完畢。</li>
                        <li>感謝公關行銷組、銷售組，已協調完畢名牌、名牌套與寄送信封之寄件人、寄件地址與相關寄送問題。</li>
                        <li>與線路組、銷售組確認報到處相關需求與協同規劃。</li>
                    </ol>
                    <h4>本期待辦事項</h4>
                    <ol>
                        <li>手工日所需物品數量與 list 追蹤與確認：#issue 971、#issue1063 </li>
                        <li>場務組各小組流程規劃初稿。 </li>
                        <li>場佈規劃與撤場規劃初稿。 </li>
                        <li>報到處桌椅、線路配置和流程規劃初稿。 </li>
                    </ol>
                    <h4>其他需要協助部分摘要</h4>
                    <ol>
                        <li>無</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#a9f;border-radius:5px;color:#214;font-weight:bold;">行銷公關 <sup>Singing</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <ol>
                        <li>手冊編排中，預計 7/1 出爐給工作人員、贊助商、講者校稿。(小草, Steward)</li>
                        <li>網站持續update中 (Fish, Evelyn)</li>
                        <li>COSCUP 大會衣服數量統計中 (lloyd)</li>
                        <li>COSCUP 2013 社群攤位　從 6/23 開始到 7/7 正式開放申請囉！(極地狐) 詳情請見 <a href="http://blog.coscup.org/2013/06/coscup-2013_25.html">http://blog.coscup.org/2013/06/coscup-2013_25.html</a></li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#9fb;border-radius:5px;color:#274;font-weight:bold;">行政組 <sup>Toomore</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <h4>[Done]</h4>
                    <ol>
                        <li>工作人員衣服尺寸清單 [#828]</li>
                        <li>草擬交通費補助辦法。[#821]</li>
                        <li>調查工作人員住宿 [#1029]</li>
                        <li>住宿會計請款 6/25 前 [#1013]</li>
                    </ol>
                    <h4>[Cancel]</h4>
                    <ol>
                        <li style="text-decoration: line-through">製作決議登記簿與使用方法。[#897]</li>
                    </ol>
                    <h4>[TODO]</h4>
                    <ol>
                        <li>會眾報名名單 [#972]</li>
                        <li>草擬團體保險需求與公開徵求建議書。[#898]</li>
                        <li>海外講者伴手禮 [#727]</li>
                        <li>晶璽商旅早餐估價 [#1028]</li>
                        <li>講者晚宴 [#724]</li>
                        <li>慶功宴 [#725]</li>
                        <li>registrano 款項匯回科斯高 [#1030]</li>
                        <li>辦理議程助理見面會。[#871]</li>
                        <li>助理主持 班表 [#916]</li>
                        <li>整理住宿地點資訊。[#896]</li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#123;border-radius:5px;color:#eff;font-weight:bold;">舊報攤<sup>過往的週報</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p><a href="//bit.ly/ZXsivo">#01</a> | <a href="//bit.ly/YqGNIf">#02</a> | <a href="//bitly.com/XLpCCC">#03</a> | 
                    <a href="//bitly.com/ZXbwsu">#04</a> | <a href="//bit.ly/17h7Z0N">#05</a> | <a href="//bit.ly/10vCOLA">#06</a> | <a href="//bit.ly/173gH41">#07</a></p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="color:#466;text-align:center;">
                <p style="margin-left:10px;">
                <a href="http://coscup.org/">COSCUP2013</a> | <a href="https://groups.google.com/forum/?fromgroups#!forum/coscup-general">公開討論群組</a> | <a href="http://blog.coscup.org/">Blog</a></p>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">整理 / 行政組</td>
        </tr>
    </table>
</body>
</html>
