<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="utf-8">
<title>影像紀錄區電子報 #20121205</title>
<style>
body,table{
    font-size: 14px;
}
sup {
    font-size:10px;
}
</style>
</head>
<body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border:2px #ded solid;border-radius:10px;padding:10px;font-family:Arial;background-color:#fff;margin-top:15px;">
        <tr>
            <td style="color:green;font-family:Arial;font-weight:bold;"><a href="http://pi.isuphoto.org/"><img src="http://pi.isuphoto.org/static/ico/isuphoto_startup_gs.png" height="100px" align="right"></a>
                <p style="font-size:16px;">影像紀錄區電子報 #20121205<br>
                <a href="http://pi.isuphoto.org/" style="color:green;text-decoration:none;">pi.isuphoto.org</p>
            </td>
        </tr>
        <tr>
            <td style="color:#466;">
                <p>Hi <b>{{nickname}}</b> 您好：</p>
                <p style="margin-left:20px;">影像紀錄區近期新增一些新功能，在此為您簡短介紹。</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bfb;border-radius:5px;color:#252;font-weight:bold;">攝影活動<sup>新增</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>「<a href="http://pi.isuphoto.org/event">攝影活動</a>」可以讓您建立一個活動報名頁面，不管是要辦人像外拍、糾團旅遊邊玩邊拍或是舉辦攝影馬拉松，只要填入基本的活動資訊後，就可以開放讓參與者報名。</p>
                    <p>也可以開放給非影像紀錄區的使用者報名。另外後端也有簡單的簽到表，讓您掌握報名人員的狀況，歡迎使用！</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">新增作品<sup>Tips</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>影像紀錄區鼓勵您上傳原始檔案，主要是因為您上傳的檔案會自動輸出五種不同尺寸呈現（1024 640 500 320 240），您可以把影像紀錄區當作作品收藏庫，當需要翻找或是展示個人作品時，就可以直接利用<a href="http://pi.isuphoto.org/{{user}}">個人頁面</a>或是<a href="http://pi.isuphoto.org/{{user}}/set">作品集</a>呈現。</p>
                    <p>目前影像紀錄區沒有上傳總量限制，未來也不會限制，因為網站的製作人也愛攝影，當初會製作影像紀錄區也是希望有一個方便收藏照片的地方。也因此我們也不鼓勵您上傳來自 Facebook 另存新檔的作品，因為上傳到 Facebook 之後的圖片會做高度的破壞，將原圖精華的色階移除。</p>
                    <p>關於作品各尺寸的連結，可以在各作品頁面的小工具選項內找到，歡迎多多利用。</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#bbf;border-radius:5px;color:#225;font-weight:bold;">攝影履歷 尋找攝影師<sup>Tips</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p><a href="http://pi.isuphoto.org/shutters">攝影履歷  尋找攝影師</a>的功能在 11 月份上線，主要是讓您可以利用攝影的專長，協助其他有攝影需求的人員，而影像紀錄區只提供需求資訊傳遞的角色。所以當您收到來自攝影履歷的徵求時，您可以仔細評估對方的條件與自己的能力，再來決定是否協助。</p>
                    <p>有時攝影協拍餽贈可能是金錢，也可能是以物易物（餐點、甜食）的方式，但都無仿，只要您能夠接受對方提出的條件即可，對於不論是新手或是老手的您，其實主要還是享受那拍照的樂趣… ;)</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;margin-top:10px;background-color:#fdb;border-radius:5px;color:#542;font-weight:bold;">未來規劃<sup>規劃</sup></div>
                <div style="text-align:justify;padding:10px;">
                    <p>影像紀錄區目前團隊人數為１人，到年底前主要都繼續完成基本功能建構。作品分享是影像紀錄區起初的構想而已，影像紀錄區未來希望朝向成立一組攝影團隊，包含模特兒部份。</p>
                    <p>而新手部份，未來也會利用活動功能來開設新手攝影課程教學，因此影像紀錄區實體活動會漸漸增多，如果您對這部份有想法或是想要參與，都可以利用<a href="http://pi.isuphoto.org/toomore/mail">聯絡便籤轉達給 Toomore</a> 或是<a href="http://pi.isuphoto.org/suggest">意見反應</a>，也希望能多多幫忙宣傳影像紀錄區，感謝！</p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:10px;background-color:#eef;border-radius:5px;">
                您在影像紀錄區的資訊：
                <ul>
                    <li>帳號： {{user}}</li>
                    <li>作品頁面： <a href="http://pi.isuphoto.org/{{user}}">pi.isuphoto.org/{{user}}</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="color:#575;text-align:center;font-size:12px;">影像紀錄區</td>
        </tr>
    </table>
</body>
</html>
