{% extends "base.htm"%}
{% block style %}
{% endblock %}
{% block content%}
<form method="POST" class="form-signin">
    <div class="hero-unit" style="margin-top:20px;">
        <h4 class="form-signin-heading">COSCUP2013 行政組 小工具</h4>
    </div>
    <input name="user" type="text" class="input-block-level" placeholder="帳號"><br>
    <input name="pwd" type="PASSWORD" class="input-block-level" placeholder="密碼"><br>
    <select name="pwdw" class="input-block-level">
        <option value="-">請選擇</option>
        <option value="0">阿阿</option>
        <option value="1">豬豬</option>
        <option value="2">嘖嘖</option>
        <option value="3">挖勒</option>
        <option value="4">高腰</option>
        <option value="5">起立</option>
        <option value="6">蹲下</option>
        <option value="7">咪酷</option>
        <option value="8">小米</option>
    </select>
    <br>
    <button type="submit" class="btn btn-large btn-block">Sign in</button>
    </form>
{% endblock %}
