<style>
    input {
        margin: 5px;
    }
</style>
<h4>登入</h4>
<form method="POST">
    帳號：<input name="user"><br>
    密碼：<input name="pwd" type="PASSWORD"><br>
    密語：
        <select name="pwdw">
            <option value="-">請選擇</option>
            <option value="0">阿阿</option>
            <option value="1">豬豬</option>
            <option value="2">嘖嘖</option>
            <option value="3">挖勒</option>
            <option value="4">高腰</option>
            <option value="5">起立</option>
            <option value="6">蹲下</option>
            <option value="7">咪酷</option>
            <option value="8">小米</option>
        </select>
        <br>
        <input type="SUBMIT">
</form>
