{% extends "base.htm"%}
{% block style %}
<style>
    input {
        margin: 5px;
    }
</style>
{% endblock %}
{% block content%}
<h4>發送 COSCUP2013 Weekly</h4>
<form method="POST" enctype="multipart/form-data">
    <input name="no" type="text" class="input-block-level" placeholder="期數"><br>
    檔案：<input name="file" type="file" class="input-block-level">
    <br>
    信箱：<br>
        <select name="mail" class="input-block-level">
            <option value="toomorebeta@googlegroups.com">測試信箱</option>
            <option value="coscup-general@googlegroups.com">coscup-general</option>
        </select>
        <br>
        <button type="submit" class="btn btn-large btn-block btn-primary">寄送</button>
</form>
{% endblock %}
