{% extends "base.htm"%}
{% block style %}
<style>
    input {
        margin: 5px;
    }
</style>
{% endblock %}
{% block content%}
<h4>傳送歡迎信</h4>
<form method="POST">
    暱稱：<input name="nickname"><br>
    Mail：<input name="mail" type="email"><br>
    組別：
        <select name="leaderno">
            <option value="-">請選擇</option>
            <option value="0">總召</option>
            <option value="1">紀錄</option>
            <option value="2">議程</option>
            <option value="3">線路</option>
            <option value="4">會計</option>
            <option value="5">銷售</option>
            <option value="6">場務</option>
            <option value="7">行銷公關</option>
            <option value="8">行政</option>
        </select>
        <br>
        <input type="SUBMIT">
</form>
{% endblock %}
