{% extends "base.htm"%}
{% block style %}
<style>
    input {
        margin: 5px;
    }
</style>
{% endblock %}
{% block content%}
<h4>發送 COSCUP2013 Weekly</h4>
<form method="POST" enctype="multipart/form-data">
    期數：<input name="no"><br>
    檔案：<input name="file" type="file">
        <br>
    信箱：
        <select name="mail">
            <option value="toomorebeta@googlegroups.com">測試信箱</option>
            <option value="coscup-general@googlegroups.com">coscup-general</option>
        </select>
        <br>
        <input type="SUBMIT">
</form>
{% endblock %}
